/*FOOTER*/
footer {
    background-color: #8CBF3F;
    color: black;

}

footer .art {
    background-color: #F2CC0F;
    padding-top: 20px;
    clip-path: polygon(0% 5%, 15% 0%, 100% 10%, 100% 100%, 0% 100%);
}

footer .content {
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;

}

footer header {
    font-size: 21px;
    padding-block: 16px;
    font-family: 'Henny Penny';

}

footer .content a {
    display: inline-block;
    padding-block: 8px;
    color: black;
    opacity: 0.65;
    text-decoration: none;
    font-family: 'Roboto';
}

footer .content a:hover {
    opacity: 1;
    color: white;
    background-color: #9554a6;
    font-size: 18px;

}

footer input {
    border-style: solid;
    line-height: 24px;
    padding: 12px 16px;
    font-size: 1rem;
    width: 100%;
    margin-block: 8px;
    border-radius: 8px;
    border-width: 2px;
}

footer input[type='email'] {
    background-color: transparent;
    border-color: black;
    color: black;
}

footer input[type='email']:hover,
footer input[type='email']:focus {
    border-color: white;
    color: white;
}

.footer-submit {
    background-color: #8CBF3F;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
}

.footer-submit:hover {
    background-color: black;
}

footer .social {
    margin-block: 16px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-left: 30px;
    grid-gap: 16px;
}

footer .social i {
    font-size: 32px;
    padding: 12px 2px 4px;
    text-align: center;
    border: 1px solid lightyellow;
    border-radius: 8px;
    width: 100%;
}

footer .social i:hover {
    color: #9554a6;
    border-color: #9554a6;
    box-shadow: 0px 0px 16px inset lightyellow;
}

footer .notice {
    text-align: center;
    padding: 24px;
}

footer .notice strong {
    color: black;
    font: roboto;
}


@media screen and (max-width: 800px) {
    footer .content {
        display: block;
    }

    footer input {
        width: 80%;
    }

    header {
        text-align: center;
    }

    footer {
        text-align: center;
    }
}